@font-face {
    font-family: FactProRVLRY;
    src: url(../fonts/FactProRVLRYMedium.ttf) format('truetype');
}

.sidebar-container {
    position: fixed;
    top: 0;
    height: 100%;

}

.sidebar {
    padding-top: 80px;
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 200px;

    border-right: 1px rgba(0, 0, 0, 0.05) solid;
    background-color: white;
}

.sidebar.animated {
    animation-duration: .5s;
}
.sidebar-header {
    font-size: 24px;
    font-weight: 600;
    padding: 24px 0 24px 24px;
    margin-top: 4px;
    border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
}

/* .sidebar-body {
    margin-left: 24px;
} */

.nav-item {
    padding: 16px 0 16px 24px;
}

.nav-item.title {
    font-family: FactProRVLRY;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
    font-size: 12px;
}

.nav-item.link {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}

.nav-item.link.active {
    font-weight: bold;
    background: rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 0.9);
}
